/* ////////////////////////////////////////////////////////////////////
//////Not using this CSS file. Please refer to the cardstyle.css////////
/////////////////////////////////////////////////////////////////// */

.header {
    height: 10vh;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    color: white;

    background-repeat: no-repeat;
    background-color: deepskyblue;
    display: flex;
    background-image: url("https://www.khwiki.com/images/f/f3/Destiny_Islands_Logo_KH.png");
    background-size: contain;
    padding-top: 20vh;
    border-bottom: goldenrod solid thick;
}
.title {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    justify-content: flex-end;

}

.mainpage{
    height: 90vh;
    background-image: url('https://static3.comicvine.com/uploads/original/11129/111299281/5660366-5393652812-maxre.jpg');
    border-bottom: goldenrod solid thick;
    border-left: goldenrod solid thick;
    border-right: goldenrod solid thick;
    display: flex;

}

.stats {
    width: 15%;
    font-size: 5vh;
    color: firebrick;
    background-color: rgba(255,215,0,0.5);
    /*opacity: 0.60;*/
    flex-direction: column;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    justify-content: space-between;


}
.games-played{
    height: 20vh;
    flex-direction: column;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    justify-content: space-around;

}

.attempts{
    height: 20vh;
    flex-direction: column;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    justify-content: space-around;


}

.accuracy{
    height: 20vh;
    flex-direction: column;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    justify-content: space-around;

}

.game-area {
    width: 85%;

}

.column {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card{
    height: 30vh;
    width: 20vh;
    position: relative;
    display: inline-block;

}

.front, .back{
    height: 100%;
    width: 100%;
    position: relative;
}

.front{
    background-image: url("https://www.khwiki.com/images/7/70/Sora_BS-1.png");
    background-size: contain;
    background-position: center;
    position: absolute;
    display: inline;




}

img {
    height: 100%;
    width: 100%;
}

.back{
    background-image: url("https://img00.deviantart.net/80fb/i/2012/161/4/d/kingdom_hearts__chain_of_memories_card_v2__front__by_shennanigma-d530ajt.png");

    background-size: contain;

    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    background-position: center;
    background-color: black;
}

/*.card:hover > .back{*/
    /*display: none;*/
/*}*/

.revealed > .front{
    display: inline;
}

button {
    width: 50%;
    height:
    background-size: 50%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100%;

}
